/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.footer {
  .right-side-footer-content {
    margin-top: 0;
    float: right;
    display: block;
    text-align: right;
  }
}

#home-hero-section {
  #inner-content {
    margin: 0 auto;
    h1 {
      font-size: 3em;
    }
    p {
      max-width: 560px;
      margin: 1.5em auto;
    }
  }
}

.home-icon__container {
  min-height: 50rem;
}

#home-icon-2 {
  border-top: none;
  border-bottom: none;
}

.homepage-description {
  padding: 0em 1em;
}

#overview-content-left {
  .about-text {
    width: 80%;
  }
  h4 {
    line-height: 1.4em;
  }
}

// Our story styles

#our-story-photos-right {
  .photos-top {
    img {
      margin-top: 0em;
    }
  }
  .photos-bottom {
    display: block;
    margin-top: 1em;
    img {
      width: 48%;
    }
  }
}

.class-info {
  width: 60%;
}

.class-download {
  display: block;
  width: 35%;
  float: right;
}

.class-download-mobile {
  display: none;
}

// Programs styles
#programs-page-header {
  #program-subheader {
    display: block;
  }
}

#programs-subnav {
  display: block;
}

.class-info-notes {
  width: 60%;
}

// Enrollment Styles
#enrollment-page-header {
  #enrollment-subheader {
    display: block;
  }
}

#enrollment-subnav {
  display: block;
}

// Contact
.contact-page-content {
  min-height: 750px;
}

#contact-top {
  .container {
    padding-top: 4em;
  }
}

#contact-photo-right {
  margin-top: 0em;
}
