/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/**************
Our Story styles
***************/

#story-text-section {

}

#programs-subnav {
  display: block;
}

.letter-text {
  width: 66%;
}

.class-info {
  width: 60%;
}

.class-download {
  display: block;
  width: 35%;
}

// Programs styles
#programs-page-header {
  #program-subheader {
    display: block;
  }
}

