/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}

/*********************
CUSTOM STYLES
*********************/

h1, .h1 {
  font-size: 2.7em;
}

.narrow-content {
	padding-right: 2em;
}

#home-classes-section {
	.class-box {
		margin-bottom: 1em;
	}
}

//Homepage icons
.homepage-description {
  padding: 0em 5em;
}

#program-header,
#enrollment-header {
  font-size: 3em;
}

#programs-page-header {
	padding: 6em 0;
}

#enrollment-page-header {
	padding: 6em 0;
}

.program-photo-right {
  margin-top: 2.5em;
  .class-download {
		width: 75%;
	}
}
