/*********************
POSTS & CONTENT STYLES
*********************/

.hentry {
  border-radius: 3px;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 2em;
  margin-bottom: 2em;

  .entry-content {
    padding: 0;
    margin-top: 2rem;
  }

  .entry-title {
    color: $black;

    &:hover {
      color: darken($black, 10%);
    }
  }

  footer {
    p {
      margin: 0;
    }
  }
}

/* end .hentry */

/* post meta */
.byline {
  color: $meta-gray;
  font-style: italic;
  margin: 0;
}

/* entry content */
.entry-content {
  padding: 1.5em 1.5em 0;

  p {
      margin: 0 0 1.5em;
  }

  table {
      width: 100%;
      border: 1px solid $gray;
      margin-bottom: 1.5em;

      caption {
          margin: 0 0 7px;
          font-size: 0.75em;
          color: $meta-gray;
          text-transform: uppercase;
          letter-spacing: 1px;
      }
  }

  tr {
      border-bottom: 1px solid $gray;

      &:nth-child(even) {
          background-color: $light-gray;
      }
  }

  td {
      padding: 7px;
      border-right: 1px solid $gray;

      &:last-child {
          border-right: 0;
      }
  }

  th {
      background-color: $light-gray;
      border-bottom: 1px solid $gray;
      border-right: 1px solid $gray;

      &:last-child {
          border-right: 0;
      }
  }

  blockquote {
      margin: 0 0 1.5em 0.75em;
      padding: 0 0 0 0.75em;
      border-left: 3px solid $blue;
      font-style: italic;
      color: $meta-gray;

      &:before {}
  }

  dl {}

  dt {}

  dd {
      margin-left: 0;
      font-size: 0.9em;
      color: #787878;
      margin-bottom: 1.5em;
  }

  img {
      margin: 0 0 1.5em 0;
      max-width: 100%;
      height: auto;
  }

  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */

  .size-auto,
  .size-full,
  .size-large,
  .size-medium,
  .size-thumbnail {
      max-width: 100%;
      height: auto;
  }

  pre {
      background: $black;
      color: $light-gray;
      font-size: 0.9em;
      padding: 1.5em;
      margin: 0 0 1.5em;
      border-radius: 3px;
  }
}

/* end .entry-content */

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;

  /* images inside wp-caption */
  img {
      max-width: 100%;
      margin-bottom: 0;
      width: 100%;
  }

  p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
  }
}
/* end .wp-caption */

// the tag output
.tags {
    margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
    margin: 1.5em 0;
}

.pagination {
  text-align: center;

  ul {
    display: inline-block;
    background-color: $white;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px;
  }

  li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid $gray;
  }

  a, span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: $blue;

    &:hover, &:focus {
        background-color: $blue;
        color: $white;
    }
  }

  .current {
    cursor: default;
    color: $text-color;

    &:hover, &:focus {
        background-color: $white;
        color: $text-color;
    }
  }
}

/* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {
    ul {}

    .prev-link {
        float: left;
    }

    .next-link {
        float: right;
    }
}

/* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
    padding: 0.75em;
    margin: 0;
    border-top: 1px solid $light-gray;

    /* number of comments span */
    span {}
}

.comment-nav {
    ul {
        li {}
    }
}

.commentlist {
    margin: 0;
    list-style-type: none;
}

.comment {
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 1.5em;
    border-bottom: 1px solid $light-gray;

    .comment-author {
        padding: 7px;
        border: 0;
    }

    /* vcard */
    .vcard {
        margin-left: 50px;

        cite.fn {
            font-weight: 700;
            font-style: normal;

            a.url {}
        }

        time {
            display: block;
            font-size: 0.9em;
            font-style: italic;

            a {
                color: $meta-gray;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .photo {}

        .avatar {
            position: absolute;
            left: 16px;
            border-radius: 50%;
        }
    }

    /* end .commentlist .vcard */

    &:last-child {
        margin-bottom: 0;
    }

    /* end children */

    &[class*=depth-] {
        margin-top: 1.1em;
    }

    &.depth-1 {
        margin-left: 0;
        margin-top: 0;
    }

    &:not(.depth-1) {
        margin-top: 0;
        margin-left: 7px;
        padding: 7px;
    }

    &.odd {
        background-color: $white;
    }

    &.even {
        background: $light-gray;
    }
}

/* comment content */
.comment_content {
    p {
        margin: 0.7335em 0 1.5em;
        font-size: 1em;
        line-height: 1.5em;
    }
}

/* comment reply link */
.comment-reply-link {
    @extend .blue-btn;

    font-size: 0.9em;
    float: right;

    &:hover,
    &:focus {}
}

/* edit comment link */
.comment-edit-link {
    font-style: italic;
    margin: 0 7px;
    text-decoration: none;
    font-size: 0.9em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
    @extend .cf;

    padding: 1.5em;
    border-top: 1px solid $light-gray;
}

#reply-title {
    margin: 0;
}

.logged-in-as {
    color: $meta-gray;
    font-style: italic;
    margin: 0;

    a {
        color: $text-color;
    }
}

.comment-form-comment {
    margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
    padding: 1.5em;
    background-color: $light-gray;
    font-size: 0.9em;
}

/* comment submit button */
#submit {
    @extend .blue-btn;

    float: right;
    font-size: 1em;
}

/* comment form title */
#comment-form-title {
    margin: 0 0 1.1em;
}

/* cancel comment reply link */
#cancel-comment-reply {
    a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
    margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.no-widgets {
    background-color: $white;
    padding: 1.5em;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
  clear: both;
  background-color: $black;
  color: $light-gray;
  .right-side-footer-content {
    margin-top: 1em;
    text-align: left;
    .fa {
      margin-left: 0.4em;
    }
  }
}

#fumc-link {
  background: linear-gradient(180deg, $blue, darken($blue, 10%));
  padding: 1.5em 0;
  a {
    color: $white;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}
#main-footer {
  padding: 2.5em 0;
  h3 {
    margin-top: 0;
  }
  a {
    color: #aeaeae;
    &:hover {
      color: #dedede;
      text-decoration: none;
    }
  }
}

/*********************
CUSTOM STYLES
*********************/

// global //
.text-white {
  color: $white;
}

.text-center {
  text-align: center;
}

.no-left-pad {
  padding-left: 0;
}

.image-rounded {
  border-radius: 0.5rem;
  overflow: hidden;
}

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 0.75rem !important; }
.mb-4 { margin-bottom: 1rem !important; }
.mb-5 { margin-bottom: 1.5rem !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 0.75rem !important; }
.mt-4 { margin-top: 1rem !important; }
.mt-5 { margin-top: 1.5rem !important; }

.emphasis-box {
  background: $white;
  border: 1px solid $gray;
  border-radius: 0;
  padding: 1.5em;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
}

// buttons //
.btn-primary {
  color: $white;
  background: linear-gradient(180deg, $green, darken($green, 15%));
  font-size: 1.2em;
  padding: 0.4em 0.8em;
  font-family: $header-font-family;
  border: none;
  border-radius: 0.5rem;
  &:hover {
    background-color: darken($green, 10%);
  }
}

a.btn-primary {
  color: $white;
  &:hover {
    color: $white;
  }
}

/**************
Homepage styles
***************/

.page-content {
  padding-top: 3em;
}

/**************
Homepage styles
***************/

#home-hero-section {
  background: url(../images/home-hero-demo3.jpg) no-repeat;
  background-size: cover;
  padding: 6em 0;
  h3 {
    margin-top: 0;
    font-size: 1.7em;
    color: rgba(256, 256, 256, 0.7);
  }
  h1 {
    margin-top: 0.2em;
    font-size: 2.2em;
  }
  p {
    font-size: 1.3em;
    margin-bottom: 0.7em;
  }
}
#home-hero-btn {
  margin: 0 auto;
  display: block;
  width: 12em;
  font-size: 1.4em;
  .fa {
    -webkit-transition: 0.3s;
  }
  &:hover {
    .fa {
      margin-left: 5px;
      -webkit-transition: 0.3s;
    }
  }
}

#home-welcome-section {
  padding: 2em 0;
  background: $light-gray-gradient;
  box-shadow: $inset-box-shadow;
}

.icon-circle {
  display: block;
  margin: 0 auto 2em auto;
  height: 100px;
  width: 100px;
  border-radius: 70px;
}

.icon-1 {
  background: $orange;
  .fa {
    font-size: 3em;
    margin-top: 23px;
    margin-left: 16px;
  }
}

.icon-2 {
  background: $blue;
  .fa {
    font-size: 3em;
    margin-top: 21px;
    margin-left: 16px;
  }
}

.icon-3 {
  background: $yellow;
  .fa {
    font-size: 3em;
    margin-top: 20px;
    margin-left: 16px;
  }
}

#home-icon-2 {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.home-icon {
  padding: 2em 1rem;

  &__container {
    background: $white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
    padding: 4rem 2rem;
  }
}

.homepage-description {
  padding: 0em 2em;
}

#home-overview-section {
  padding: 4.5em 0;
}

#overview-content-left {
  h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  h4 {
    line-height: 1.6em;
  }
}

.enrollment-cta {
  text-align: center;
  padding: 3em 0;

  @media (min-width: 768px) {
    text-align: left;
  }

  &__header,
  &__description {
    margin-top: 0;
  }

  &__btn {
    background: linear-gradient(180deg, $blue, darken($blue, 10%));
    margin-top: 1em;

    &:hover {
      background: darken($blue, 10%);
    }
  }
}

#overview-photos-right {
  .photo-left {
    width: 100%;
    height: 336px;
    display: block;
    float: left;
    background: url(../images/home-photo-4.JPG) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 1.5em;
  }
}

.class-box-section {
  margin-top: 1.5em;
}

#home-classes-section {
  box-shadow: $inset-box-shadow;
  padding: 1em 0 3em;
  background: $light-gray-gradient;

  h1 {
    margin-bottom: 0;
  }
  .calendar-box {
    border: 1px solid $gray;
    background: $white;
    margin-top: 0.5em;
    height: 230px;
    display: block;
    padding: 1em 1.5em;
    text-align: center;
    overflow: hidden;
    border-radius: 0.5rem;

    &__btn {
      margin: 1em auto 0;
      width: 7em;
      display: block;
    }
  }

  .class-box {
    background: linear-gradient(180deg, $blue, darken($blue, 10%));
    margin-top: 0.5em;
    overflow: hidden;
    border-radius: 0.5rem;

    .btn-primary {
      margin-top: 0.5em;
    }

    p {
      color: rgba(256, 256, 256, 0.7);
    }

    &__text {
      width: 60%;
      float: left;
      padding: 1.5em 0.5em 1.5em 2em;

      &__header {
        margin: 0;
        color: $white;
        font-size: 1.3em;
      }
    }

    &__image {
      width: 40%;
      float: left;
      height: 230px;
    }

    &-image-1 {
      background: url(../images/kids-in-classroom.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-image-2 {
      background: url(../images/kid-with-marker.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-image-3 {
      background: url(../images/kid-with-toy.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-image-4 {
      background: url(../images/kids-at-play.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-image-5 {
      background: url(../images/home-photo-2.JPG) no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:hover {
      transition: 0.5s;
    }
  }
}

.enroll-section {
  background: $white;
  padding: 3em 0;
  .btn-primary {
    margin-top: 0.7em;
  }
}

/**************
Our Story styles
***************/

.our-story-content {
  padding: 3em 0 0 0;
}

#story-text-section {
  padding: 0em 0 4em;
}

#story-director-section {
  padding: 2em 0 4em;
  background: $light-gray-gradient;
  box-shadow: $inset-box-shadow;
}

.our-story-container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

#our-story-photos-right {
  .photos-top {
    img {
      width: 100%;
      margin-top: 1em;
    }
  }
  .photos-bottom {
    display: none;
  }
}

#story-photo-bar {
  display: block;
  max-height: 370px;
  background: $white;
  img {
    overflow: hidden;
    width: 100%;
  }
}


.director-signoff {
  margin-top: 2em;
  img {
    float: left;
    width: 120px;
    display: block;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 5px solid $white;
  }
  h4 {
    margin-bottom: 0;
  }
  .right-side {
    float: left;
    display: block;
    .director-name {
      font-size: 1.5em;
      font-style: italic;
      color: #1f1f1f;
    }
  }
}
/**************
Programs & Rates Styles
***************/

#program-header,
#enrollment-header {
  font-size: 2.35em;
}

#programs-page-header {
  background: url(../images/programs-header-ver2.jpg) no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
  padding: 3.5em 0;
  #program-header {
    margin: 0;
  }
  #program-subheader {
    margin: 0;
    font-size: 1.6em;
    display: none;
  }
}

#programs-program-content {
  background: $light-gray;
  .btn-primary {
    margin-top: 1em;
  }
  img {
    width: 100%;
  }
}

.program-photo-right {
  margin-top: 2.5em;
  .class-download {
    margin: 1.5em auto 0;
    display: block;
    float: none;
  }
  .h2 {
    font-size: 1.25em;
  }
}

#programs-subnav {
  display: none;
  border-bottom: 1px solid $gray;
  padding: 0.5em 0;
  a {
    color: $green;
    padding: 1em 1.2em;
  }
}

.class-info {
  margin: 1em 0;
  box-shadow: $box-shadow;
  border-radius: 0.75rem;
  overflow: hidden;

  i {
    margin-right: 0.3em;
  }
  p {
    margin: 0;
  }
  h3 {
    margin: 0;
  }

  &-header {
    font-weight: 600;
    color: $text-color;

    .fa {
      margin-right: 0.5rem;
    }
  }
  &-item {
    padding: 0.7em 1em;
    border-bottom: 1px solid $gray;
    background: $white;
  }
}

.class-download {
  display: none;
  background: $white;
  border: 1px solid $gray;
  border-radius: 0.5rem;
  padding: 1.5em;
  text-align: center;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.05);

  &__header {
    font-size: 1.55em;
    margin-top: 0;
    padding-bottom: 0.4em;
  }
}

.class-download-mobile {
  display: block;
  margin: 1em 0;
}

.class-section {
  padding: 3em 0;
}

.class-1,
.class-3,
.class-5 {
  background: $light-gray-gradient;
  box-shadow: $inset-box-shadow;
}

.class-2,
.class-4,
.class-6 {
  background: $white;
}

// Enrollment Page styles

#enrollment-page-header {
  background: url(../images/enrollment-header-ver2.jpg) no-repeat;
  background-size: cover;
  padding: 3.5em 0;
  background-position-x: 45%;
  background-position-y: 60%;
  #enrollment-header {
    margin: 0;
  }
  #enrollment-subheader {
    margin: 0;
    font-size: 1.6em;
    display: none;
  }
}

#preschool-2,
#pre-k,
#pit-enroll {
  background: $light-gray-gradient;
  box-shadow: $inset-box-shadow;
}

#enrollment-program-content {
  background: $light-gray;
}

#enrollment-subnav {
  display: none;
  border-bottom: 1px solid $gray;
  padding: 0.5em 0;
  a {
    color: $green;
    padding: 1em 0.5em;
  }
}

// Contact page styles
#contact-top {
  .container {
    padding-top: 2em;
    border-top: 1px solid $gray;
  }
}

#contact-director-section,
#contact-church-section {
  a {
    color: $blue;
  }
  .fa {
    margin-right: 0.7em;
  }
}

.contact-divider {
  width: 85%;
}

#contact-church-section {
  padding-bottom: 1em;
  h2 {
    margin-top: 0;
  }
}

#contact-director-section {
  padding-top: 1em;
}

#contact-bottom {
  padding-top: 6em;
}

#contact-photo-right {
  margin-top: 3em;
  img {
    width: 100%;
    height: auto;
  }
}

#google-map {
  display: block;
  width: 100%;
  height: 430px;
  background: $gray;
}


// Enrollment

.enrollment {
  &__page-content {
    padding: 4em 0;
  }

  &__content-header {
    margin-top: 0;
  }

  &__alert {
    padding: 1em 2em 2em;
    margin: 0 0 2em;

    &--header {
      border-bottom: 1px solid $border-color;
      padding-bottom: 0.5em;

      .icon {
        padding-right: 0.75em;
      }
    }
  }

  &__date {
    &--date {
      font-size: 1.5em;
      color: $green;
    }

    &--container {
      padding: 2em 0;
      border-bottom: 1px solid $border-color;

      @media (min-width: 768px) {
        margin-right: 4em;
      }

      &:first-of-type {
        border-top: 1px solid $border-color;
      }
    }
  }
}
